
body{
    background-color: darkolivegreen;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
}

img {
    width: 450px;
    height: 300px;
    object-fit:cover;
}

.gallery{
    width: auto;
    margin: auto;
    text-align: center;
}