
body{
    background-color: darkolivegreen;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vw;
}

.masthead{
    width: 100%;
}

.gallery img {
    width: 40vw;
    height: 30vw;
    object-fit:cover;
    border-radius: 1rem;
    border: 0.5rem solid antiquewhite;
}

.gallery{
    width: auto;
    margin: auto;
    text-align: center;
}
a{
    text-decoration: none;
    color: yellow;
    padding: 1rem;
}